body {
  background-color: #222222;
  color: #dddddd;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

.wrap {
  background-color: #dddddd;
  color: #222222;
  padding-top: 16px;
}

header {
  width: 960px;
  margin: 0 auto;
}

header h1 {
  margin-top: 0;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header li {
  display: inline-block;
  margin-right: 16px;
}

a {
  color: #1111EE;
  text-decoration: none;
}

.content {
  width: 960px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .content, header {
    width: 90%;
    padding: 10px;
  }
}

@media (min-width: 481px) and (max-width: 960px) {
  .content, header {
    width: 480px;
    padding: 10px;
  }
}